.contentAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.About {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  flex: 1;
  padding: 20px;
}

.appDetails {
  display: flex;
  justify-content: center;
}

.appText {
  padding-left: 9rem;
  padding-right: 9rem;
  text-align: center;
}
.appDetails p {
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content of each profile */
  margin-bottom: 20px; /* Adds space between profiles */
}

.profile-circle {
  width: 170px; /* Diameter of the circle */
  height: 170px; /* Diameter of the circle */
  border-radius: 50%;
  border: 2px solid #fff; /* Optional: adds a border around the image */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for depth */
  background-image: url("../assets/fabio-niglio.jpg"); /* Path to the image */
  background-position: 75% 25%; /* Adjust this to focus on the face */
  background-size: cover; /* Ensures the circle is fully covered by the image */
}

.About p {
  color: white;
  font-size: 30px;
  font-weight: 400;
}
