.main-content {
  display: flex;
  justify-content: center; /* Centers the children (Sidebar and About components) */
  align-items: center; /* Aligns items to the top */
  height: calc(100vh - 140px);
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  padding: 10px 20px;
}
